<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="shortcut icon" href="img/logo.png">
    <title> Educacion Financiera</title>
</head>

<body class="row m-0 bg-primary justify-content-center aling-items-center vh-100">
    <form v-on:submit.prevent="guardarRegistro" v-on:reset="Iniciarsesion" method="POST" id="frm-registrar">
        <div class="card bg-light mb-3" style="max-width: 48rem;">
            <div class="card-header">
                Registrarse
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-4">
                        Nombre
                    </div>
                    <div class="col-12">
                        <input type="text" v-model="registrar.nombre" placeholder="Nombre" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        Correo
                    </div>
                    <div class="col-12">
                        <input type="email" v-model="registrar.correo" placeholder="Correo" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        Contraseña
                    </div>
                    <div class="col-12">
                        <input type="text" v-model="registrar.contraseña" placeholder="contraseña" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <input id="btnGuardarRegistro" type="submit" class="btn btn-primary" value="Registrar">
                        <input type="reset" class="btn btn-success mostrar-registrar" value="Iniciar Sesion">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <div class="alert alert-success" role="alert">
                            {{ registrar.msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="public/vistas/login/registrar.js"></script>

</html>