<form v-on:submit.prevent="calcularCuota" v-on:reset="Limpiar" id="frm-cuotas" method="post">
    <div class="card mb-3">
        <div class="card-header">
            Calculo de Cuota de Prestamo

            <button type="button" id="btn-close-cuotas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Monto
                </div>
                <div class="col-10">
                    <input type="number" step="0.01" required v-model="cuota.monto" placeholder="$$" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Plazo (años)
                </div>
                <div class="col-10">
                    <input type="number" required v-model="cuota.plazo" placeholder="años" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Interes anual
                </div>
                <div class="col-10">
                    <input type="number" step="0.01" required v-model="cuota.tasa" placeholder="%" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-10">
                    {{ cuota.msg }}
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input id="btnCalcularCuota" type="submit" class="btn btn-primary" value="Calcular">
                    <input type="reset" class="btn btn-warning" value="Limpiar">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/cuotas/cuotas.js"></script>