<form v-on:submit.prevent="iniciarSesion" data-accion="inicio" data-idalumno='' id="frm-login" method="post">
    <div class="card mb-3">
        <div class="card-header">
            Iniciar Sesión
        
            <button type="button" id="btn-close-login" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Correo
                </div>
                <div class="col-12">
                    <input type="email" required="true" v-model="login.correo" placeholder="Correo" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Contraseña
                </div>
                <div class="col-12">
                    <input type="password" required="true" v-model="login.contraseña" placeholder="contraseña" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
                    <input type="button" class="btn btn-success mostrar-registrar" data-modulo="login" data-form="registrar" value="Registrar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert"> 
                        {{ login.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/login/login.js"></script>