<form method="post" id="frm-buscar-alumnos">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE ALUMNOS

            <button type="button" id="btn-close-buscar-alumnos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-alumnos" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarAlumnos" placeholder="codigo o nombre" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th> 
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_alumno in mis_alumnos" :key="mi_alumno.idAlumno" v-on:click="modificarAlumno(mi_alumno)" >
                        <td>{{ mi_alumno.codigo }}</td>
                        <td>{{ mi_alumno.nombre }}</td>
                        <td>{{ mi_alumno.direccion }}</td>
                        <td>{{ mi_alumno.telefono }}</td>
                        <td>
                            <input v-on:click="eliminarAlumno(mi_alumno.idAlumno)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/alumnos/buscar-alumnos.js"></script>