<form id="frm-inicio" method="post"></form>
    <div class="card w-50 bg-light">
        <nav class="card-header">
            <button type="button" id="btn-close-inicio" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <input type="text" v-model="valor" v-on:keyup="verInformacion" placeholder="Buscar" class="form-control">
        </nav>
        <div class="card-body" id="listado">
            <info-card v-for="item in items" 
            :key="item.idInformacion" :titulo="item.titulo" 
            :contenido="item.contenido" ></info-card>
        </div>     
    </div>
   <script src="public/vistas/inicio/inicio.js"></script>
</form>